@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--fbackground-end-rgb));;
}
.container{
  @apply px-4 sm:px-8 py-4 mx-auto max-w-screen-2xl;
}
.header {
  @apply shadow sticky inset-0 bg-white/70 backdrop-blur;
}
.heading-one {
  @apply font-bold text-base md:text-lg xl:text-xl mb-2;
}
.heading-two {
  @apply font-bold text-sm md:text-base xl:text-lg mb-2;
}
p {
  @apply mb-2 text-sm md:text-base xl:text-lg;
}
.btn {
  @apply px-6 py-2 rounded;
}
.header-cta {
  @apply bg-slate-500 hover:bg-slate-300 text-white hover:text-slate-700 transition-all font-bold text-sm;
}
.mobile-menu .bar{
	width: 25px;
	height: 3px;
	background-color: #999;
	margin: 5px 0;
	transition: 0.3s;
}
.dark .mobile-menu .bar {
	background-color: #fff;
}
.mobile-menu.change .bar1 {
	transform: translate(0, 8px) rotate(-45deg);
}
.mobile-menu.change .bar2 {
	opacity: 0;
}
.mobile-menu.change .bar3 {
	transform: translate(0, -8px) rotate(45deg);
}
.mobile-menu {
	display: inline-block;
  cursor: pointer;
}